@page
@using ClassLibrary.Services;
@using ClassLibrary.Models;
@using ClassLibrary.Interfaces;
@using SejlklubRazor.Pages;
@using SejlklubRazor.Pages.Courses.ShowCourseList;
@model SejlklubRazor.Pages.Courses.CourseForMemberModel
@{
}
<label for="members">Choose a member:</label>

<select name="members" id="member">
    @foreach(Member mem in Model.Members)
    {
        
    }
    <option value="volvo">Volvo</option>

</select>




