@page
@using ClassLibrary.Models;
@model SejlklubRazor.Pages.Courses.DeleteCourseModel
@{
    ViewData["Title"] = "";
}
<h3>Opdater Holdets Information</h3>

<form method="post">
    <div class="form-group">

    </div>
</form>