@page
@using ClassLibrary.Models;
@using SejlklubRazor.Pages;
@model SejlklubRazor.Pages.Courses.ShowCourseList.ShowCourseList
@{
    ViewData["Title"] = "Klubbens Hold";
}

<h3>Klubbens Hold</h3>

<btn>
    <a class="nav-link text-dark bg-primary" asp-page="AddCourse">Opret nyt Hold</a>
</btn>


<btn>
    <a class="nav-link text-dark bg-primary" asp-page="CourseForMember">vis alle hold som en </a>
</btn>

<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>pladser tilbage</th>
            <th>Beskrivelse</th>
            <th>hold lavet af</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Course item in Model.ListOfCourses)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.AttendeeRange[0]-@item.Attendees.Count</td> 
                <td>@item.Description</td>
                <td>@item.Master.Name</td>

            </tr>
        }
    </tbody>
</table>