@page
@using ClassLibrary.Helpers
@using ClassLibrary.Interfaces
@model SejlklubRazor.Pages.ProofOfConcept.SearchNameModel
@{
    ViewData["Title"] = "Proof of concept";
}


<input id="queryField" type="text" oninput="searchFunc(queryField.value)" />


<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Match-værdi</th>
        </tr>
    </thead>
    <tbody id="resultsTable">
        @foreach(DLStringValuePair<IMember> s in Model.Matches)
        {
            <tr>
                <td>@s.DLString</td>
                <td>@s.Data.Email</td>
                <td>@s.DLValue</td>
            </tr>
        }
        </tbody>
    </table>

    @section scripts{
        <script>
            async function searchFunc(name) {
            const response = await fetch(`?handler=Update&name=${name}`);
            const valuePairs = await response.json();
            updateTable(valuePairs);
        }

        function updateTable(valuePairs) {
            const tableBody = document.getElementById('resultsTable');
            tableBody.innerHTML = ''; // Clear existing rows

            valuePairs.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${item.dlString}</td>
                    <td>${item.data.email}</td>
                    <td>${item.dlValue}</td>
                `; //For inexplicable reasons, properties MUST start with a lower case letter
                tableBody.appendChild(row);
            });
        }
        </script>
    }
