@page
@model SejlklubRazor.Pages.Members.ShowMembersModel
@{
    ViewData["Title"] = "Medlemsskabsliste";
}

<table class="table">
    <thead>
        <th>Navn</th>
        <th>Tlf.</th>
        <th>Email</th>
    </thead>

    <tbody>

    </tbody>
</table>
