@page
@using ClassLibrary.Models
@model SejlklubRazor.Pages.Members.ShowMembersModel
@{
    ViewData["Title"] = "Medlemsskabsliste";
}

<table class="table">
    <thead>
        <th>Navn</th>
        <th>Tlf.</th>
        <th>Email</th>
    </thead>

    <tbody>
        @foreach (Member member in Model.Members) 
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.Phone</td>
                <td>@member.Email</td>
            </tr>
        }

    </tbody>
</table>
