@page
@using ClassLibrary.Models
@model SejlklubRazor.Pages.Members.ShowMembersModel
@{
    ViewData["Title"] = "Medlemsskabsliste";
}

<btn>
    <a class="nav-link text-dark bg-primary" asp-page="AddMember">Tilføj nyt medlem</a>
</btn>

<table class="table">
    <thead>
        <th>Navn</th>
        <th>Tlf.</th>
        <th>Email</th>
    </thead>

    <tbody>
        @foreach (Member member in Model.Members) 
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.Phone</td>
                <td>@member.Email</td>
                <td><a asp-page="AddMember" asp-route-oldName="@member.Name">Edit</a></td>
            </tr>
        }

    </tbody>
</table>
